<h2 class="Lead"><%= @question.email %></h2>
<h2 class="Lead"><%= @question.body %></h2>
<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <img class="media-object" src="../assets/aIcon.jpg" alt="Answer">
    </div>
    <div class="media-body">
      <h4 class="media-heading"></h4>
      Answer
    </div>
  </li>
</ul>
<button class="btn btn-default" data-toggle="modal" data-target="#new-answer">
Add an answer
</button>
